<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  
	<h2>
		So. How can I use this darn thing? 
	</h2>
</p>
	<div class="normal">
		<strong>It's not so difficult as it seems. </strong><br>
		Once you sign in, you will see all your microposts, and the ammount of people you are following, including <br>
		the number of people that follows your microposts.<br><br>

		From that place (which is also known as your "Profile page"), you can click on the Users link, <br>
		and check the other users that are using atingo to happily communicate with the ones that they care (?).<br>
		If you want, you can check what are they saying by clicking on their name. And if you really really like <br>
		those microposts, you can "Follow" that User, so you can read their microposts on your Home Page.<br><br>

		Now. Going there, your Home page. There you will see all your microposts, mixed with the ones of the <br>
		people you follow; and you will also be able to create a new micropost if you want, from the little form.<br><br>

		And that's it! easy enough, huh?<br>

	</div>



