<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    Este es el home page de <%= link_to "My application", root_path %> desarrollado en Ruby on Rails :)
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>